/*My favorite font :)*/
* {
    font-family: "Hepta Slab", serif;
}

body, html {
    height: 100%;
    color: #A9A9A9;
    line-height: 1.8;
}

/*No padding or margin for the body so that stuff actually takes up the whole page*/
body {
    margin: 0;
    padding: 0;
}

/*Static images that the main static portion doesn't move with (like a parallax)*/
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    background-attachment: scroll;
    min-height: 400px;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-body {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/oil.png);
}

.bgimg-1 {
    background-image: url("images/wildfire_2.jpeg");
}

.bgimg-2 {
    background-image: url("images/green.jpg");
}

.bgimg-3 {
    background-image: url("images/heat.jpeg");
}

.bgimg-4 {
    background-image: url("images/wildfire.jpeg");
}

.bgimg-5 {
    background-image: url("images/dry_river.png");
}

.small{
    font-size: 12px;
}

/*So that the navbar doesn't move with the page*/
.top-section {
    position:fixed;
    width:100%;
    z-index:2;
}

.forms {
    color: #36454F;
    font-family: "Hepta Slab", serif;
    padding: 1vh;
}

.navbar {
    width:100%;
    overflow:hidden;
    display:inline-block;
}

.navbar-item {
    font-weight: bold;
    z-index: 1;
    color: #808080;
    opacity: 0.75;
    font-size: 14px;
    padding:12px 24px;
    width:auto;
    border:none;
    display:block;
    outline:0;
    float:left;
}

.navbar-item:hover {
    background-color: #454545;
    opacity: 1;
}

a, a:active {
    text-decoration: none;
    color: inherit;
 }

/*Super complex code*/
.opacity {
    opacity:1;
 }

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.central-text {
    font-size: 30px;
    text-align: center!important;
    padding: 14px 36px !important;
    color: #FFF;
    background-color: #000;
}

.display-none {
    display: none;
}

.center {
    text-align: center!important;
}

.static-text {
    z-index: 1;
    color: #36454F;
    position: relative;
    background-color: #FFF;
    padding: 0.01em 16px;
    padding-top: 64px;
    padding-bottom: 64px;
}

/*Squeeze text unless the screen is less than 768 pixels in width*/
@media (min-width: 768px) {
    .static-text {
      padding-left: 30vw;
      padding-right: 30vw;
    }
  }

.underlined {
    text-decoration: underline;
}

/*BBButton stands for big black button*/
.bbbutton {
    width: 10vh;
    height: 3vh;
    background-color: #000;
    color: #FFF;
    font-family: "Hepta Slab", serif;
}

.login-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.login-box-2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.no-account {
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.login-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    pad: 10px 0 10px 0;
}

.login-input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px; /*Most life saving line of code ever. seriously.*/
    padding: 0 0 0 45px;
    background-color: rgba(255, 255, 255, 0.1);
}

.login-field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bwsubmit { /*bwsubmit means big white submit :)*/
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255 0.7);
    cursor: pointer;
    transition: 0.3s;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
}

.flex-center {
    justify-content: center;
}

.error {
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 51, 51, 0.5);
}
