

{% import 'navbar.html' as nav %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}

    <body>
        {{nav.navbar(logged_in)}}

        <div class="bgimg-10 opacity">
            <div class="display-middle">
                <span class="central-text">D A T A</span> 
            </div>

            <div class="static-text" style="top: 100vh;">
                <h2 class="center">DATA</h2>
                <hr>
                <p class="center small">Data</p>
                <br>
                {% if not is_data %}
                <p>&emsp;When you log some data via the logger, your data will show here. </p>
                {% endif %}
            
                {% if is_data %}
                {{ stat_string|safe }}
                {% endif %}
                <hr>
            </div>
        </div>
    </body>
</html>