<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Error</title>
</head>
<body> 
    <h1>SQLite Database Error (PLEASE READ)</h1>
    <p style="font-size: 30px;">If you have reached this page, it is because the python file could not reach the database, and gave an error. 
        If you are running the file locally, make sure you have the entire EcoTracker directory open (or at least the part with userdata.db in it).
        If this is being run publically and this is a problem with the hosting, please contact me at christophervu4@gmail.com.
        <a href="landing.html" class="navbar-item" style="text-decoration: underline;">BACK TO LANDING PAGE</a>
    </p>
    <br><br><br><br><br><br>
    <p>Poop Fart haha this is not part of the error message</p>

</body>
</html>