<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher Vu">

    <title>EcoTracker | Calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="icon" href="/static/images/Icon.png" type="image">
</head>