{% import 'navbar.html' as nav %}

<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}


    <body class="login-body" style="color: #FFF;">
        {{nav.navbar(logged_in,color="black")}}

        
        <div class="login-flexbox"> <!--I watched an hour long course to learn flexbox this is like a 15 minute topic MAX-->
            <div class="login-box-2">
                <div class="login-header">
                    <header class="login-title">Login</header>
                </div>

                <form action="/login" method="post" name="login-info">
                    <div class="login-field">
                        <input type="text" class="login-input" placeholder="Email" name="email" required>
                    </div>
                    <div class="login-field">
                        <input type="text" class="login-input" placeholder="Password" name="pass" required>
                    </div>
                    <div class="login-field">
                        <input type="submit" class="bwsubmit" value="login">
                    </div>
                    
                    <div class="bottom">
                        <div class="flex-center">
                            <span class="no-account"><a href="signup.html">Don't have an account?</a></span>
                        </div>
                    </div>
                </form>

                {% if show_error %}
                    <div class="error">⚠ {{ error_message }}</div>
                {% endif %}
            </div>
        </div>
    </body>
</html>